.container{
    width: 80%;
    margin:0  auto;
}
#body{
    margin: 0;
    background:#222;
    font family:"Work Sans", sans-serif;
    font_weight:300;
}
header{
    background: #55d2d6
}

header::after{
    content: ' ';
    display: table;
    clear: both;
}
.logo{
    height: 70px;
    width: auto;
    float:left;
    padding-bottom: 10px;
}
nav{
    float:right;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;

}
nav li{
    display: inline-block; 
    margin-left: 90px;
    padding-top:26px;
}
nav > ul > li> a{
color: #444;
text-decoration: none;
text-transform: uppercase;
}
nav a:hover{
    color: red;
    
}
.mainbg{
    height: 500px;
    width: 100%;
    padding: 0;
}
.centered {
    position: absolute;
    top: 26%;
    left: 56%;
    transform: translate(-80%, -50%);
    color:white;
    font-family: 'Montserrat', sans-serif;
  }







  /* Dropdown Button */
.dropbtn {
    background-color: #55d2d6;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #55c3d6;}
