body {
  margin: 0;
  overflow-x: hidden;
  /* font-family: Montserrat; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important; */
  font-family: "Roboto Slab", serif;
}

#home {
  background-image: url("background1.jpg") !important;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 4.8rem;
}
nav div ul {
  float: right !important;
}
.home-content {
  font-size: 35px !important;
}
.home-content1 {
  font-size: 30px !important;
}
#ppimage {
  padding-top: 20px !important;
}
#jumbo1 {
  background-image: url(jumboback.jpg);
}
[class*="col-"] {
  padding: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code,
.fa-bold,
.fa-css3,
.fa-cuttlefish {
  margin: 1rem;
  font-size: 4em;
}
.fa-cuttlefish {
  color: gray;
}
.fa-python {
  margin: 1rem;
  font-size: 4em;
  color: Blue;
}
.fa-js {
  margin: 1rem;
  font-size: 4em;
  color: rgb(228, 228, 27);
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-github:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
fa-google:hover {
  color: Firebrick;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
  color: black;
}
.fa-github {
  color: #000010;
  color: black;
}
.fa-twitter {
  color: #00aced;
  color: black;
}
.fa-instagram {
  color: #517fa4;
  color: black;
}
.fa-linkedin {
  color: #517fa4;
  color: black;
}
.fa-google {
  color: gray;
  color: blacks;
}
#myproject {
  padding-top: 4.8rem;
}
